.form-section {
  display: flex;
  justify-content: center;
}

label {
  display: block;
  padding: 1%;
  font-size: 20px;
}

input#movie {
  color: #33e;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  margin: 2%;
}

input[type="submit"] {
  border: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #33e;
  border-radius: 4px;
  padding: 8px;
  margin: 10px;
}

button {
  border: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #33e;
  border-radius: 4px;
  padding: 8px;
  margin: 10px;
}
